extends global

block config
    - pagePath = "about"
    - pageName = [header.about, meta.title]
    - pageType = "dark"

block content
    div#about-intro: section.container-fluid
        img.img-responsive.center-block(src="#{i}about/lg-buzzvil.png", width="356", height="92")
        h2.font-make-3: +break("maybe", [
            "We're a team of people who aspire to",
            "change the world by dreaming the impossible"
        ])
        
        div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
            href="http://www.buzzvil.com",
            target="_blank"
        ) Buzzvil.com
        
        div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
            href="http://blog.buzzvil.com",
            target="_blank"
        ) Buzzvil Blog
        
        +scroller("about-main")
    
    section.container-fluid#about-main
        div.blip
        h3.font-make-3: +break("maybe", about.sub)
        
        address
            h4.font-make-4 Seoul
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact@honeyscreen.com", target="_blank") contact@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/272+Seokchonhosu-ro,+Songpa-gu,+Seoul,+South+Korea/@37.5099336,127.1059156,15z/data=!3m1!4b1!4m2!3m1!1s0x357ca59fc2df4013:0x27d10e76d956e776", target="_blank") 서울특별시 송파구 석촌호수로 272 (송파동 32, 대림빌딩 3층)
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12659.658171349469!2d127.1059156!3d37.509933649999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca59fc2df4013%3A0x27d10e76d956e776!2s272+Seokchonhosu-ro%2C+Songpa-gu%2C+Seoul%2C+South+Korea!5e0!3m2!1sen!2s!4v1415261314226")
        
        address
            h4.font-make-4 Tokyo
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact.jp@honeyscreen.com", target="_blank") contact.jp@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/1+Chome-17-1+Shibuya,+Shibuya-ku,+T%C5%8Dky%C5%8D-to+150-0002,+Japan/@35.6614372,139.7009509,17z/data=!3m1!4b1!4m5!3m4!1s0x60188ca790f8cf2d:0x3032815a2a95351d!8m2!3d35.6614329!4d139.7031396", target="_blank") 東京都渋谷区渋谷1-17-1 TOC第二ビル３F PoRTAL内
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6320034045634!2d139.70095091490992!3d35.66143723866534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca790f8cf2d%3A0x3032815a2a95351d!2s1+Chome-17-1+Shibuya%2C+Shibuya-ku%2C+T%C5%8Dky%C5%8D-to+150-0002%2C+Japan!5e0!3m2!1sen!2s!4v1470651213987")
        
        address
            h4.font-make-4 Taipei
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact.tw@honeyscreen.com", target="_blank") contact.tw@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/No.+1,+Yumen+St,+Zhongshan+District,+Taipei+City,+Taiwan+104/@25.0703324,121.5195652,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a94f37348ea9:0xa8ee38918a912c67!8m2!3d25.0703276!4d121.5217539", target="_blank") 10452 台北市中山區玉門街1號 台北新創中心 Buzzvil
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.9308598288253!2d121.51956521466506!3d25.070332442988814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a94f37348ea9%3A0xa8ee38918a912c67!2sNo.+1%2C+Yumen+St%2C+Zhongshan+District%2C+Taipei+City%2C+Taiwan+104!5e0!3m2!1sen!2s!4v1469500849498")
