extends global

block config
    - pagePath = "about"
    - pageName = [header.about, meta.title]
    - pageType = "dark"

block content
    div#about-intro: section.container-fluid
        img.img-responsive.center-block(src="#{i}about/lg-buzzvil.png", width="356", height="92")
        h2.font-make-3: +break("maybe", [
            "We're a team of people who aspire to",
            "change the world by dreaming the impossible"
        ])
        
        div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
            href="http://www.buzzvil.com",
            target="_blank"
        ) Buzzvil.com
        
        div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
            href="http://blog.buzzvil.com",
            target="_blank"
        ) Buzzvil Blog
        
        +scroller("about-main")
    
    section.container-fluid#about-main
        div.blip
        h3.font-make-3: +break("maybe", about.sub)
        
        address
            h4.font-make-4 Seoul
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact@honeyscreen.com", target="_blank") contact@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/272+Seokchonhosu-ro,+Songpa-gu,+Seoul,+South+Korea/@37.5099336,127.1059156,15z/data=!3m1!4b1!4m2!3m1!1s0x357ca59fc2df4013:0x27d10e76d956e776", target="_blank") 서울특별시 송파구 석촌호수로 272 (송파동 32, 대림빌딩 3층)
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12659.658171349469!2d127.1059156!3d37.509933649999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca59fc2df4013%3A0x27d10e76d956e776!2s272+Seokchonhosu-ro%2C+Songpa-gu%2C+Seoul%2C+South+Korea!5e0!3m2!1sen!2s!4v1415261314226")
        
        address
            h4.font-make-4 Tokyo
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact.jp@honeyscreen.com", target="_blank") contact.jp@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/Japan,+%E3%80%92150-0002+T%C5%8Dky%C5%8D-to,+Shibuya-ku,+Shibuya,+1+Chome%E2%88%9217%E2%88%921+%EF%BC%B4%EF%BC%AF%EF%BC%A3%E7%AC%AC%EF%BC%92%E3%83%93%E3%83%AB/@35.6614582,139.7031109,17z/data=!3m1!4b1!4m2!3m1!1s0x60188ca790fda677:0xf60e512e1e8be5c6", target="_blank") 東京都渋谷区渋谷1-17-1 TOC第2ビル3F Buzzvil
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6311524350635!2d139.70311085000003!3d35.661458200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca790fda677%3A0xf60e512e1e8be5c6!2zSmFwYW4sIOOAkjE1MC0wMDAyIFTFjWt5xY0tdG8sIFNoaWJ1eWEta3UsIFNoaWJ1eWEsIDEgQ2hvbWXiiJIxN-KIkjEg77y077yv77yj56ys77yS44OT44Or!5e0!3m2!1sen!2s!4v1441612479682")
        
        address
            h4.font-make-4 Taipei
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact.tw@honeyscreen.com", target="_blank") contact.tw@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/No.+3,+Lane+265,+Section+2,+Heping+E+Rd,+Da%E2%80%99an+District,+Taipei+City,+Taiwan+106/@25.0253172,121.5419203,17z/data=!3m1!4b1!4m2!3m1!1s0x3442aa2ea2992fd7:0x4e1cb7e732283166", target="_blank") 10667台北市大安區和平東路二段265巷3號 Buzzvil
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.257992843925!2d121.54192031467232!3d25.025317244794195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa2ea2992fd7%3A0x4e1cb7e732283166!2sNo.+3%2C+Lane+265%2C+Section+2%2C+Heping+E+Rd%2C+Da%E2%80%99an+District%2C+Taipei+City%2C+Taiwan+106!5e0!3m2!1sen!2s!4v1450837854880")