extends global

block config
    - pagePath = "about"
    - pageName = [header.about, meta.title]
    - pageType = "dark"

block content
    div#about-intro: section.container-fluid
        img.img-responsive.center-block(src="#{i}about/lg-buzzvil.png", width="356", height="92")
        h2.font-make-3: +break("maybe", [
            "We're a team of people who aspire to",
            "change the world by dreaming the impossible"
        ])
        
        div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
            href="https://www.buzzvil.com/",
            target="_blank",
            rel="noopener",
        ) Buzzvil.com
        
        div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
            href="https://www.buzzvil.com/#{meta.key}/blog/",
            target="_blank",
            rel="noopener",
        ) Buzzvil Blog
        
        +scroller("about-main")
    
    section.container-fluid#about-main
        div.blip
        h3.font-make-3: +break("maybe", about.sub)
        
        address
            h4.font-make-4 Seoul
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact@honeyscreen.com", target="_blank") contact@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/272+Seokchonhosu-ro,+Songpa-gu,+Seoul,+South+Korea/@37.5099336,127.1059156,15z/data=!3m1!4b1!4m2!3m1!1s0x357ca59fc2df4013:0x27d10e76d956e776", target="_blank") 서울특별시 송파구 석촌호수로 272 (송파동 32, 대림빌딩 3층)
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12659.658171349469!2d127.1059156!3d37.509933649999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca59fc2df4013%3A0x27d10e76d956e776!2s272+Seokchonhosu-ro%2C+Songpa-gu%2C+Seoul%2C+South+Korea!5e0!3m2!1sen!2s!4v1415261314226")
        
        address
            h4.font-make-4 Tokyo
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact@honeyscreen.jp", target="_blank") contact@honeyscreen.jp
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/WeWork/@35.6647993,139.7410391,17z/data=!3m1!4b1!4m5!3m4!1s0x60188bbee5580259:0x61b4bef4de240000!8m2!3d35.664795!4d139.7432278", target="_blank") 〒105-6021東京都港区虎ノ門4-3-1 城山トラストタワー21階
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4956832880403!2d139.7410391152583!3d35.664794980198124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbee5580259%3A0x61b4bef4de240000!2sWeWork!5e0!3m2!1sko!2skr!4v1603078868020!5m2!1sko!2skr")
        
        address
            h4.font-make-4 Taipei
            
            p
                img(src="#{i}ic-about-mail.png", width="19", height="20")
                a(href="mailto:contact.tw@honeyscreen.com", target="_blank") contact.tw@honeyscreen.com
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href="https://www.google.com/maps/place/No.+1,+Yumen+St,+Zhongshan+District,+Taipei+City,+Taiwan+104/@25.0703324,121.5195652,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a94f37348ea9:0xa8ee38918a912c67!8m2!3d25.0703276!4d121.5217539", target="_blank") 10452 台北市中山區玉門街1號 台北創新中心 Buzzvil
            
            div.embed-responsive.frame-map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.9308598288253!2d121.51956521466506!3d25.070332442988814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a94f37348ea9%3A0xa8ee38918a912c67!2sNo.+1%2C+Yumen+St%2C+Zhongshan+District%2C+Taipei+City%2C+Taiwan+104!5e0!3m2!1sen!2s!4v1469500849498")
