extends global

block config
    - pagePath = "advertise"
    - pageName = [header.advertise, meta.title]

block content
    div.gradient-1#advertise-intro-outer: section.container-fluid#advertise-intro
        div.blip.hidden-xs
        h2.make-font-3 #{advertise.intro.sub}
        h1.make-font-1 #{advertise.intro.big}
        
        div.row
            div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
                href="#{I}advertise/dl-honeyscreen-intro-2014-11-26.pdf",
                target="_blank",
                download
            ) #{advertise.intro.intro}
            
            div.btn-frame-outer: a.btn.btn-frame.btn-frame-big(
                href="#{I}advertise/dl-honeyscreen-guide-2014-11.zip",
                download
            ) #{advertise.intro.guide}
        
        img.hidden-xs(src="#{i}ic-arrow.png", width="48", height="25")
    
    section.container-fluid#advertise-benefits
        div.blip
        h1.make-font-2 #{advertise.benefits.big}
        
        div#advertise-benefits-img: div.carousel-outer.tb
            +carousel(6, 301, 527, "advertise/ex-benefits")
            img(src="#{i}advertise/ex-benefits-frame.png", width="328", height="653")
        
        div#advertise-benefits-txt
            div
                img(src="#{i}advertise/ic-benefits-ctr.png", width="112", height="112")
                div
                    h2.make-font-3 #{advertise.benefits.ctr_big}
                    h3 #{advertise.benefits.ctr_sub}
            
            div
                img(src="#{i}advertise/ic-benefits-valid.png", width="112", height="112")
                div
                    h2.make-font-3 #{advertise.benefits.valid_big}
                    h3 #{advertise.benefits.valid_sub}
            
            div
                img(src="#{i}advertise/ic-benefits-brand.png", width="112", height="112")
                div
                    h2.make-font-3 #{advertise.benefits.brand_big}
                    h3 #{advertise.benefits.brand_sub}
    
    div.bg-gray: section.container-fluid#advertise-cpm
        div.blip
        h1.make-font-2 Display Ads
        h2.make-font-3 #{advertise.cpm.big}
        
        div.row
            div.col-xs-4
                img(src="#{i}advertise/ic-cpm-apps.png", width="211", height="211")
                h3.make-font-3 #{advertise.cpm.apps}
            div.col-xs-4
                img(src="#{i}advertise/ic-cpm-ecom.png", width="211", height="211")
                h3.make-font-3 #{advertise.cpm.ecom}
            div.col-xs-4
                img(src="#{i}advertise/ic-cpm-social.png", width="211", height="211")
                h3.make-font-3 #{advertise.cpm.social}
    
    div#advertise-cpa-outer: section.container-fluid#advertise-cpa
        div.blip
        h1.make-font-2 Incentive Ads
        h2.make-font-3 #{advertise.cpa.big}
        h3.make-font-4 #{advertise.cpa.sub}
    
    div.bg-gray: section.container-fluid#advertise-partners
        div.blip
        h1.make-font-2 Partners
        h2.make-font-3 #{advertise.partners.big}
        
        div.row: each _, n in Array(16)
            div.col-xs-6.col-sm-3: img.img-responsive.center-block(
                src="#{i}advertise/lg-partner-#{n + 1}.png",
                width="180",
                height="60"
            )
    
    section.container-fluid#advertise-contact
        div.blip
        h1.make-font-2 Contact Us
        
        address
            each person in advertise.contact.sales
                h4 #{person.name}
                
                p.break-small
                    span
                        img(src="#{i}ic-about-mail.png", width="19", height="20")
                        a(href="mailto:#{person.mail}", target="_blank") #{person.mail}
                    span: if person.tel
                        img(src="#{i}ic-about-tel.png", width="19", height="20")
                        a(href="tel:#{person.tel.replace(' ', '')}", target="_blank") #{person.tel}
                    span: if person.fax
                        img(src="#{i}ic-about-fax.png", width="19", height="20")
                        a(href="fax:#{person.fax.replace(' ', '')}", target="_blank") #{person.fax}
            
            p
                img(src="#{i}ic-about-place.png", width="19", height="20")
                a(href=advertise.contact.maplink, target="_blank") #{advertise.contact.address}
            
            div.embed-responsive: iframe(src=advertise.contact.mapcode)