doctype
html(lang=meta.code)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block meta
        link(rel="icon", type="image/png", href="#{i}favicon-1x.png", sizes="16x16")
        link(rel="icon", type="image/png", href="#{i}favicon-2x.png", sizes="32x32")
        link(rel="stylesheet", href=files.globalcss)
    
    body
        div#nav-head-outer
            div.backdrop
            div.container#nav-head
                a.nav-left(href="/"): img(src="#{i}hs_logo.png", width="221", height="22")
                
                ul.nav-right
                    li.nav-text.hidden-xs: a(href="/#index-video") #{header.intro}
                    li.nav-text: a(href="/support") #{header.support}
                    li.nav-text: a(href="/advertise") #{header.advertise}
                    li.nav-text: a(href="/about") #{header.company}
                    
                    li.nav-icon.hidden-xs: a(href=contact.facebook, target="_blank")
                        img(src="#{i}sns_b_01.png", width="20", height="23")
                    li.nav-icon.hidden-xs: a(href=contact.twitter, target="_blank")
                        img(src="#{i}sns_b_02.png", width="20", height="23")
                    li.nav-icon.hidden-xs: a(href=contact.blog, target="_blank")
                        img(src="#{i}sns_b_03.png", width="20", height="23")
        
        block content
        
        div#nav-foot-outer
            div.backdrop
            div.container#nav-foot
                ul.nav-left
                    li.nav-text © Buzzvil
                    li.nav-text: a(href="/terms") #{footer.terms}
                    li.nav-text: a(href="/privacy") #{footer.privacy}
                
                ul.nav-right
                    li.nav-text: a(rel="alternate", href="//en.honeyscreen.com", hreflang="en") English
                    li.nav-text: a(rel="alternate", href="//ko.honeyscreen.com", hreflang="ko") 한국어
                    li.nav-text: a(rel="alternate", href="//ja.honeyscreen.com", hreflang="ja") 日本語
                    li.nav-text: a(rel="alternate", href="//zh-tw.honeyscreen.com", hreflang="zh-TW") 繁體字
        
        script.
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','#{gakey}','auto');ga('send','pageview');