- var pagePath
- var pageName
- var pageType
block config

mixin break(type, arr)
    each str, i in arr
        span(class="break-#{type}")
            | #{str || "\u00A0"}
            if type !== "force" && i + 1 < arr.length
                span 

mixin carousel(o)
    div.carousel-outer(class=o.t, style="max-width:#{o.fw}px")
        div.carousel.slide: div.carousel-inner: each _, n in Array(o.l)
            div.item(class=!n && "active")
                img(src="#{I}#{o.path}-#{n}.jpg", width=o.iw, height=o.ih)
        img(src="#{I}#{o.path}-frame.png", width=o.fw, height=o.fh)

mixin scroller(id)
    a.scroller.hidden-xs(href="##{id}")
        img(src="#{i}ic-arrow.png", width="48", height="25")

doctype
html(lang=meta.code)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{pageName.join(" | ")}
        link(rel="stylesheet", href="/global.css")
        link(rel="icon", type="image/png", href="#{i}favicon-1x.png", sizes="16x16")
        link(rel="icon", type="image/png", href="#{i}favicon-2x.png", sizes="32x32")
        link(rel="canonical", href="https://#{meta.key}.honeyscreen.com/#{pagePath}")
        link(rel="alternate", href="https://en.honeyscreen.com/#{pagePath}", hreflang="en")
        link(rel="alternate", href="https://ja.honeyscreen.com/#{pagePath}", hreflang="ja")
        link(rel="alternate", href="https://ko.honeyscreen.com/#{pagePath}", hreflang="ko")
        link(rel="alternate", href="https://zh-tw.honeyscreen.com/#{pagePath}", hreflang="zh-TW")
        <!--[if lt IE 9]>
        script(src="/legacy.js")
        <![endif]-->
    
    body
        nav.navbar.navbar-default.navbar-static-top(class=pageType === "dark" && "navbar-dark"): div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse", data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                
                a.navbar-brand.ic.ic-logo(href="/")
            
            div.collapse.navbar-collapse.navbar-right
                ul.nav.navbar-nav
                    li(class=pagePath === "support" && "active"): a(href="/support") #{header.support}
                    li(class=pagePath === "advertise" && "active"): a(href="/advertise") #{header.advertise}
                    li(class=pagePath === "about" && "active"): a(href="/about") #{header.about}
                    li: a(href="https://ad.buzzvil.com/ui/") #{header.signin}
                
                p.navbar-text
                    if contact.facebook
                        a.ic.ic-social-facebook(href=contact.facebook, target="_blank", rel="noopener")
                    if contact.twitter
                        a.ic.ic-social-twitter(href=contact.twitter, target="_blank", rel="noopener")
                    if contact.blog
                        a.ic.ic-social-blog(href=contact.blog, target="_blank", rel="noopener")
        
        block content
        
        footer: nav.container-fluid
            ul.first-child
                li.first-child: a(href="https://www.buzzvil.com") © Buzzvil
                li: a(href="/terms") #{footer.terms}
                li.last-child: a(href="/privacy") #{footer.privacy}
            
            ul.last-child
                li.first-child: a(href="https://en.honeyscreen.com/#{pagePath}") English
                li: a(href="https://ko.honeyscreen.com/#{pagePath}") 한국어
                li: a(href="https://ja.honeyscreen.com/#{pagePath}") 日本語
                li.last-child: a(href="https://zh-tw.honeyscreen.com/#{pagePath}") 繁體中文
        
        //- TODO TEMP
        if meta.key === "ko"
            div.modal: div.modal-dialog: div.modal-content
                  div.modal-body(style="font-size:80%")
                    p 안녕하세요. 허니팀 입니다.
                    p 허니스크린 개인정보취급방침이 2017년 6월 27일자로 다음과 같이 변경되어 사전 안내 드립니다. 이번 개인정보취급방침은 설문조사 광고 진행을 위한 내용 추가 및 개인정보 관련해 회원
                    p: b 1. 개인정보취급방침 주요 변경 사항
                    ul
                        li 1조 2항 신설 : 해당 신청자에 한해 추가로 수집하는 정보항목 추가
                            ul
                                li 설문조사 광고 참여, 설치형 광고 포인트 적립, 포인트 현금 환급, 이벤트 상품 전달 시 수집 정보 추가
                        li 2조 '개인정보 수집목적' 내 내용 추가 : 푸시메시지 및 이메일 수신 거절 방법에 대한 안내 추가
                        li 3조 '개인정보의 수집방법' 내 내용 추가 : 회원가입 및 수정 시 추가
                        li 4조 '개인정보 제 3자 제공 및 동의' 항목 아래와 같이 내용 수정
                            ul
                                li 제 3자 제공하는 업체에 대해 보다 구체적인 케이스 명시 (광고주, 광고 네트워크, 설문조사, 이벤트 경품업체 등)
                                li SSI(설문조사 업체)의 설문조사 참여 시, 정보 공유에 대한 내용 추가
                                li 제 3자 정보제공 철회에 대한 사항 추가
                        li 기타 기존 개인정보처리방침의 내용 중 일부를 '한국 회원을 위한 부록'으로 이동
                    p: b 2. 시행일자 : 2017년 7월 11일
                    p 변경된 개인정보 취급방침 전문은 허니스크린 홈페이지 내(<a href="https://ko.honeyscreen.com/privacy">개인정보취급방침</a>)를 참고해 주세요.
                    p: b * 이의 및 문의 절차
                    p 문의사항은 <a href="mailto:contact@honeyscreen.com">contact@honeyscreen.com</a>을 통해 주시기 바라며, 본 개인정보취급방침에 동의하지 않으실 경우 회원 탈퇴를 통해 사용을 해지하실 수 있습니다.
                  div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") #{temp.never}
                    button.btn.btn-primary(type="button", data-dismiss="modal") #{temp.close}
        
        script(src="/global.js", async)
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create','#{gakey}','auto');ga('send','pageview');
