- var navPage = ""
- var navOpts = ["navbar", "navbar-default", "navbar-static-top"]

mixin break(arr, postfix)
    each str in arr
        span #{str}#{postfix}

mixin carousel(l, w, h, f)
    div.carousel.slide: div.carousel-inner: each _, n in Array(l)
        div.item(class=!n && "active"): img(src="#{I}#{f}-#{n}.jpg", width=w, height=h)

doctype
html(lang=meta.code)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block meta
        link(rel="icon", type="image/png", href="#{i}favicon-1x.png", sizes="16x16")
        link(rel="icon", type="image/png", href="#{i}favicon-2x.png", sizes="32x32")
        link(rel="stylesheet", href="/global.css")
        <!--[if lt IE 9]>
        script(src="/legacy.js")
        <![endif]-->
    
    body
        nav(class=navOpts): div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse", data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                
                a.navbar-brand.ic.ic-logo(href="/")
            
            div.collapse.navbar-collapse.navbar-right
                ul.nav.navbar-nav
                    li(class=navPage === "support" && "active"): a(href="/support") #{header.support}
                    li(class=navPage === "advertise" && "active"): a(href="/advertise") #{header.advertise}
                    li(class=navPage === "about" && "active"): a(href="/about") #{header.about}
                    li: a(href=contact.adadmin) #{header.signin}
                
                p.navbar-text
                    if contact.facebook
                        a.ic.ic-social-facebook(href=contact.facebook, target="_blank")
                    if contact.twitter
                        a.ic.ic-social-twitter(href=contact.twitter, target="_blank")
                    if contact.blog
                        a.ic.ic-social-blog(href=contact.blog, target="_blank")
        
        block content
        
        footer: nav.container-fluid
            ul.first-child
                li.first-child © Buzzvil
                li: a(href="/terms") #{footer.terms}
                li.last-child: a(href="/privacy") #{footer.privacy}
            
            ul.last-child
                li.first-child: a(rel="alternate", href="//en.honeyscreen.com", hreflang="en") English
                li: a(rel="alternate", href="//ko.honeyscreen.com", hreflang="ko") 한국어
                li: a(rel="alternate", href="//ja.honeyscreen.com", hreflang="ja") 日本語
                li.last-child: a(rel="alternate", href="//zh-tw.honeyscreen.com", hreflang="zh-TW") 繁體中文
        
        script(src="/global.js", async)
        script.
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','#{gakey}','auto');ga('send','pageview');