- var pagePath
- var pageName
- var pageType
block config

mixin break(type, arr)
    each str, i in arr
        span(class="break-#{type}")
            | #{str || "\u00A0"}
            if type !== "force" && i + 1 < arr.length
                span 

mixin carousel(o)
    div.carousel-outer(class=o.t, style="max-width:#{o.fw}px")
        div.carousel.slide: div.carousel-inner: each _, n in Array(o.l)
            div.item(class=!n && "active")
                img(src="#{I}#{o.path}-#{n}.jpg", width=o.iw, height=o.ih)
        img(src="#{I}#{o.path}-frame.png", width=o.fw, height=o.fh)

mixin scroller(id)
    a.scroller.hidden-xs(href="##{id}")
        img(src="#{i}ic-arrow.png", width="48", height="25")

doctype
html(lang=meta.code)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{pageName.join(" | ")}
        link(rel="stylesheet", href="/global.css")
        link(rel="icon", type="image/png", href="#{i}favicon-1x.png", sizes="16x16")
        link(rel="icon", type="image/png", href="#{i}favicon-2x.png", sizes="32x32")
        link(rel="canonical", href="http://#{meta.key}.honeyscreen.com/#{pagePath}")
        link(rel="alternate", href="http://en.honeyscreen.com/#{pagePath}", hreflang="en")
        link(rel="alternate", href="http://ja.honeyscreen.com/#{pagePath}", hreflang="ja")
        link(rel="alternate", href="http://ko.honeyscreen.com/#{pagePath}", hreflang="ko")
        link(rel="alternate", href="http://zh-tw.honeyscreen.com/#{pagePath}", hreflang="zh-TW")
        <!--[if lt IE 9]>
        script(src="/legacy.js")
        <![endif]-->
    
    body
        nav.navbar.navbar-default.navbar-static-top(class=pageType === "dark" && "navbar-dark"): div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse", data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                
                a.navbar-brand.ic.ic-logo(href="/")
            
            div.collapse.navbar-collapse.navbar-right
                ul.nav.navbar-nav
                    li(class=pagePath === "support" && "active"): a(href="/support") #{header.support}
                    li(class=pagePath === "advertise" && "active"): a(href="/advertise") #{header.advertise}
                    li(class=pagePath === "about" && "active"): a(href="/about") #{header.about}
                    li: a(href=contact.adadmin) #{header.signin}
                
                p.navbar-text
                    if contact.facebook
                        a.ic.ic-social-facebook(href=contact.facebook, target="_blank")
                    if contact.twitter
                        a.ic.ic-social-twitter(href=contact.twitter, target="_blank")
                    if contact.blog
                        a.ic.ic-social-blog(href=contact.blog, target="_blank")
        
        block content
        
        footer: nav.container-fluid
            ul.first-child
                li.first-child © Buzzvil
                li: a(href="/terms") #{footer.terms}
                li.last-child: a(href="/privacy") #{footer.privacy}
            
            ul.last-child
                li.first-child: a(href="//en.honeyscreen.com/#{pagePath}") English
                li: a(href="//ko.honeyscreen.com/#{pagePath}") 한국어
                li: a(href="//ja.honeyscreen.com/#{pagePath}") 日本語
                li.last-child: a(href="//zh-tw.honeyscreen.com/#{pagePath}") 繁體中文
        
        // TEMP //
        if meta.key === "ko" || meta.key === "ja"
            div.modal: div.modal-dialog: div.modal-content
                  div.modal-body: img.img-responsive(src="#{I}index/privacy.jpg")
                  div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") #{temp.never}
                    button.btn.btn-primary(type="button", data-dismiss="modal") #{temp.close}
        // TEMP //
        
        script(src="/global.js", async)
        script.
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','#{gakey}','auto');ga('send','pageview');