extends global

block config
    - pagePath = ""
    - pageName = [meta.title, index.intro.big]

block content
    div.gradient-1#index-intro: section.container-fluid
        div.first-child
            h1.font-make-2: +break("small", index.intro.big)
            h2.font-make-4: +break("force", index.intro.sub)
            
            if contact.googlestore
                div: a.btn-frame-outer(href=contact.googlestore, target="_blank", rel="noopener")
                    img(src="#{i}index/dl-google-v2.png", width="159", height="64")
            
            if contact.applestore
                div: a.btn-frame-outer(href=contact.applestore, target="_blank", rel="noopener")
                    img(src="#{i}index/dl-apple-v2.png", width="159", height="64")
        
        div.last-child
            img.img-responsive(src="#{I}index/ex-intro-v1.png", width="365", height="488")
    
    div.gradient-3#index-video: div: section.container-fluid: div
        span.ic.ic-logo.visible-xs-block
        div.embed-responsive.embed-responsive-16by9
        a(href="https://www.youtube.com/watch?v=#{contact.video}", target="_blank", rel="noopener")
            img(src="#{i}ic-play.png", width="113", height="113")
    
    section.container-fluid#index-content
        div.first-child: +carousel({
            path: "index/ex-content-v1",
            fw: 285, fh: 580,
            iw: 257, ih: 456,
            t: "tb", l: 6
        })
        
        div.last-child
            img(src="#{i}index/ic-content.png", width="70", height="80")
            h1.font-make-3: +break("force", index.content.big)
            h2: +break("force", index.content.sub)
    
    div.bg-gray.bg-btop: section.container-fluid#index-points
        div.first-child
            img(src="#{i}index/ic-points.png", width="70", height="80")
            h1.font-make-3: +break("force", index.points.big)
            h2: +break("force", index.points.sub)
        
        div: +carousel({
            path: "index/ex-points-v1",
            fw: 285, fh: 580,
            iw: 257, ih: 456,
            t: "lr", l: 2
        })
        
        div.last-child
            img(src="#{i}index/ic-store.png", width="70", height="80")
            h1.font-make-3: +break("force", index.store.big)
            h2: +break("force", index.store.sub)
            each _, n in Array(5)
                div: img(src="#{i}index/ic-store-#{n + 1}.png", width="35", height="35")
    
    div.gradient-2#index-outro: section.container-fluid
        div.blip.hidden-xs
        h1.font-make-2: +break("small", index.outro.big)
        h2.font-make-4: +break("maybe", index.outro.sub)

    //- TODO TEMP
    if meta.key === "ja"
        div.modal: div.modal-dialog: div.modal-content
              div.modal-body(style="font-size:80%")
                p ハニースクリーンサポートチームです。 2017年7月11日からハニースクリーンプライバシーポリシーが更新されます。
                p: b ▶︎変更項目
                ul
                    li 第1条2項追加：申請者に限って収集する情報
                        ul
                            li アンケート、インストール型広告ポイント付与、キャンペーンの商品を届ける時に必要な携帯情報
                    li 第2条個人情報の収集目的追加：プッシュメッセージ及びメール受信拒否の方法
                    li 第3条個人情報の収集方法追加：会員登録及び修正時追加
                    li 第4条個人情報の第三者への提供及び同意の項目を修正
                        ul
                            li 情報を提供する第三者について詳しく記載
                            li SSIアンケート参加時、情報共有への内容追加
                            li 個人情報第三者への提供を撤回の内容追加
                p: b ▶︎実施日：2017年7月11日
                p 更新されたプライバシーポリシーはアプリ内の”プライバシーポリシー”でご確認ください。
                ul
                    li 更新された利用規約に関する提議やお問い合わせはハニースクリーンお問い合わせ先(contact@honeyscreen.jp)までお願いします。
                    li 更新された利用規約へ同意されない場合は退会できます。
                    li 更新されら利用規約に関して提議がない場合は更新された利用規約に同意されたと見做します。
              div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Never show again
                button.btn.btn-primary(type="button", data-dismiss="modal") Close

    if meta.key === "zh-tw"
        div.modal: div.modal-dialog: div.modal-content
              div.modal-body(style="font-size:80%")
                p 您好，我們是 HoneyScreen。 2017年7月11日起將會更新 HoneyScreen 的隱私權聲明。
                p: b ▶︎變更項目
                ul
                    li 第二條「個人資料的收集、處理及利用方式 」第一點追加
                        ul
                            li 個人資料蒐集所需項目
                    li 新增第三條「個人資料收集目的」
                    li 第四條「個人資料之保護」新增第三、四點
                    li 第五條「與第三人共用個人資料之政策」新增第三、四、五點
                        ul
                            li 詳細記錄與第三人共用個資之情況
                            li 參加SSI問卷調查時，個資共享之內容追加
                            li 從第三人撤回會員個資之内容追加
                p: b ▶︎施行日：2017年7月11日
                ul
                    li 更新後的隱私權聲明請在應用程式内的「隱私條款」內進行確認。
                    li 對於更新後的隱私權聲明有任何疑問或建議，歡迎來信(contact.tw@honeyscreen.com)。
                    li 若您不同意本隱私權保護政策，您可以停止使用本公司所提供之相關產品與服務。
              div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Never show again
                button.btn.btn-primary(type="button", data-dismiss="modal") Close

    if meta.key === "en"
        div.modal: div.modal-dialog: div.modal-content
              div.modal-body(style="font-size:80%")
                p Hello! This is to notify you that HoneyScreen's Privacy Policy has been updated on July 11th 2017. There has been some changes and additions to the Privacy Policy regarding survey participation. Please refer to the information below for the main changes.
                p: b 1. Main Changes to the Privacy Policy
                ul
                    li Article 1 Clause 2 newly added: Additional collected information has been included for applicable members
                        ul
                            li data collected for: survey ad participation, install ad rewards, cash redemptions, winning events
                    li Article 2 "Purpose of Collecting Information" : Instructions to reject push-messages and email
                    li Article 3 "How Personal Information is Collected" : Registration and changes to personal information
                    li Article 4 "Disclosure of Personal Information to Third Parties" edited as below:
                        ul
                            li More specific cases of third parties stated (Advertisers, ad networker, survey, event prize companies)
                            li SSI (Survey providers), information shared when participating in surveys
                            li Withdrawal of consent to disclosure of information to third parties
                p: b 2. Effective from : July 11th 2017
                p Please refer to the newly updated Privacy Policy on the HoneyScreen website.
                p: b * Inquiries
                p Please send your inquiries to contact.all@honeyscreen.com, and if you do not agree with the policy, you may terminate your account to discontinue your use.
              div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Never show again
                button.btn.btn-primary(type="button", data-dismiss="modal") Close
