extends global

block config
    - pagePath = ""
    - pageName = [meta.title, index.intro.big]

block content
    div.gradient-1#index-intro-outer: section.container-fluid#index-intro: div.row
        div.col-sm-7
            h1.make-font-2 #{index.intro.big}
            p.make-font-4.break-maybe: +break(index.intro.sub, " ")
            
            div#index-download
                if contact.googlestore
                    a(href=contact.googlestore, target="_blank")
                        img.img-responsive(src="#{i}index/dl-google.png", width="214", height="64")
                if contact.applestore
                    a(href=contact.applestore, target="_blank")
                        img.img-responsive(src="#{i}index/dl-apple.png", width="214", height="64")
        
        div.col-sm-5
            img.img-responsive(src="#{I}index/ex-intro.png", width="365", height="488")
    
    section.container-fluid: div.row
        div.col-sm-6#index-content-img: div.carousel-outer.tb
            +carousel(6, 301, 527, "index/ex-content")
            img(src="#{i}index/ex-content-frame.png", width="328", height="653")
        
        div.col-sm-6#index-content-txt
            img(src="#{i}index/ic-content.png", width="70", height="80")
            h1.make-font-3.break-maybe: +break(index.content.big)
            h2.break-maybe: +break(index.content.sub)
    
    div.bg-gray: section.container-fluid: div.row
        div.col-sm-4#index-points-txt1
            img(src="#{i}index/ic-points.png", width="70", height="80")
            h1.make-font-3.break-maybe: +break(index.points.big)
            h2.break-maybe: +break(index.points.sub)
        
        div.col-sm-4#index-points-img: div.carousel-outer.lr
            +carousel(2, 274, 484, "index/ex-points")
            img(src="#{I}index/ex-points-frame.png", width="328", height="653")
        
        div.col-sm-4#index-points-txt2
            img(src="#{i}index/ic-store.png", width="70", height="80")
            h1.make-font-3.break-maybe: +break(index.store.big)
            h2.break-maybe: +break(index.store.sub)
            div: each _, n in Array(5)
                img(src="#{i}index/ic-store-#{n + 1}.png", width="35", height="35")
    
    div.gradient-2#index-outro-outer: section.container-fluid#index-outro
        div.blip.hidden-xs
        h1.make-font-2 #{index.outro.big}
        h2.make-font-3.break-force: +break(index.outro.sub)