extends global

block config
    - pagePath = ""
    - pageName = [meta.title, index.intro.big]

block content
    div.gradient-1#index-intro: section.container-fluid
        div.first-child
            h1.font-make-2: +break("small", index.intro.big)
            h2.font-make-4: +break("force", index.intro.sub)
            
            if contact.googlestore
                div: a.btn-frame-outer(href=contact.googlestore, target="_blank")
                    img(src="#{i}index/dl-google-v2.png", width="159", height="64")
            
            if contact.applestore
                div: a.btn-frame-outer(href=contact.applestore, target="_blank")
                    img(src="#{i}index/dl-apple-v2.png", width="159", height="64")
        
        div.last-child
            img.img-responsive(src="#{I}index/ex-intro.png", width="365", height="488")
    
    div.gradient-3#index-video: div: section.container-fluid: div
        span.ic.ic-logo.visible-xs-block
        div.embed-responsive.embed-responsive-16by9
        a(href="https://www.youtube.com/watch?v=#{contact.video}", target="_blank")
            img(src="#{i}ic-play.png", width="113", height="113")
    
    section.container-fluid#index-content
        div.first-child: +carousel({
            path: "index/ex-content-v2",
            fw: 285, fh: 580,
            iw: 257, ih: 456,
            t: "tb", l: 6
        })
        
        div.last-child
            img(src="#{i}index/ic-content.png", width="70", height="80")
            h1.font-make-3: +break("force", index.content.big)
            h2: +break("force", index.content.sub)
    
    div.bg-gray.bg-btop: section.container-fluid#index-points
        div.first-child
            img(src="#{i}index/ic-points.png", width="70", height="80")
            h1.font-make-3: +break("force", index.points.big)
            h2: +break("force", index.points.sub)
        
        div: +carousel({
            path: "index/ex-points-v2",
            fw: 285, fh: 580,
            iw: 257, ih: 456,
            t: "lr", l: 2
        })
        
        div.last-child
            img(src="#{i}index/ic-store.png", width="70", height="80")
            h1.font-make-3: +break("force", index.store.big)
            h2: +break("force", index.store.sub)
            each _, n in Array(5)
                div: img(src="#{i}index/ic-store-#{n + 1}.png", width="35", height="35")
    
    div.gradient-2#index-outro: section.container-fluid
        div.blip.hidden-xs
        h1.font-make-2: +break("small", index.outro.big)
        h2.font-make-4: +break("maybe", index.outro.sub)