extends global

block config
    - pagePath = ""
    - pageName = [meta.title, index.intro.big]

block content
    div.gradient-1#index-intro: section.container-fluid
        div.first-child
            h1.font-make-2: +break("small", index.intro.big)
            h2.font-make-4: +break("force", index.intro.sub)
            
            if contact.googlestore
                div: a.btn-frame-outer(href=contact.googlestore, target="_blank", rel="noopener")
                    img(src="#{i}index/dl-google-v2.png", width="159", height="64")
            
            if contact.applestore
                div: a.btn-frame-outer(href=contact.applestore, target="_blank", rel="noopener")
                    img(src="#{i}index/dl-apple-v2.png", width="159", height="64")
        
        div.last-child
            img.img-responsive(src="#{I}index/ex-intro-v1.png", width="365", height="488")
    
    div.gradient-3#index-video: div: section.container-fluid: div
        span.ic.ic-logo.visible-xs-block
        div.embed-responsive.embed-responsive-16by9
        a(href="https://www.youtube.com/watch?v=#{contact.video}", target="_blank", rel="noopener")
            img(src="#{i}ic-play.png", width="113", height="113")
    
    section.container-fluid#index-content
        div.first-child: +carousel({
            path: "index/ex-content-v1",
            fw: 285, fh: 580,
            iw: 257, ih: 456,
            t: "tb", l: 6
        })
        
        div.last-child
            img(src="#{i}index/ic-content.png", width="70", height="80")
            h1.font-make-3: +break("force", index.content.big)
            h2: +break("force", index.content.sub)
    
    div.bg-gray.bg-btop: section.container-fluid#index-points
        div.first-child
            img(src="#{i}index/ic-points.png", width="70", height="80")
            h1.font-make-3: +break("force", index.points.big)
            h2: +break("force", index.points.sub)
        
        div: +carousel({
            path: "index/ex-points-v1",
            fw: 285, fh: 580,
            iw: 257, ih: 456,
            t: "lr", l: 2
        })
        
        div.last-child
            img(src="#{i}index/ic-store.png", width="70", height="80")
            h1.font-make-3: +break("force", index.store.big)
            h2: +break("force", index.store.sub)
            each _, n in Array(5)
                div: img(src="#{i}index/ic-store-#{n + 1}.png", width="35", height="35")
    
    div.gradient-2#index-outro: section.container-fluid
        div.blip.hidden-xs
        h1.font-make-2: +break("small", index.outro.big)
        h2.font-make-4: +break("maybe", index.outro.sub)

    //- TODO TEMP
    if meta.key === "ko"
        div.modal: div.modal-dialog: div.modal-content
              div.modal-body(style="font-size:80%")
                p 안녕하세요. 허니팀 입니다.
                p 허니스크린 개인정보취급방침이 2017년 6월 27일자로 다음과 같이 변경되어 사전 안내 드립니다. 이번 개인정보취급방침은 설문조사 광고 진행을 위한 내용 추가 및 개인정보 관련해 회원
                p: b 1. 개인정보취급방침 주요 변경 사항
                ul
                    li 1조 2항 신설 : 해당 신청자에 한해 추가로 수집하는 정보항목 추가
                        ul
                            li 설문조사 광고 참여, 설치형 광고 포인트 적립, 포인트 현금 환급, 이벤트 상품 전달 시 수집 정보 추가
                    li 2조 '개인정보 수집목적' 내 내용 추가 : 푸시메시지 및 이메일 수신 거절 방법에 대한 안내 추가
                    li 3조 '개인정보의 수집방법' 내 내용 추가 : 회원가입 및 수정 시 추가
                    li 4조 '개인정보 제 3자 제공 및 동의' 항목 아래와 같이 내용 수정
                        ul
                            li 제 3자 제공하는 업체에 대해 보다 구체적인 케이스 명시 (광고주, 광고 네트워크, 설문조사, 이벤트 경품업체 등)
                            li SSI(설문조사 업체)의 설문조사 참여 시, 정보 공유에 대한 내용 추가
                            li 제 3자 정보제공 철회에 대한 사항 추가
                    li 기타 기존 개인정보처리방침의 내용 중 일부를 '한국 회원을 위한 부록'으로 이동
                p: b 2. 시행일자 : 2017년 7월 11일
                p 변경된 개인정보 취급방침 전문은 허니스크린 홈페이지 내(<a href="https://ko.honeyscreen.com/privacy">개인정보취급방침</a>)를 참고해 주세요.
                p: b * 이의 및 문의 절차
                p 문의사항은 <a href="mailto:contact@honeyscreen.com">contact@honeyscreen.com</a>을 통해 주시기 바라며, 본 개인정보취급방침에 동의하지 않으실 경우 회원 탈퇴를 통해 사용을 해지하실 수 있습니다.
              div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") #{temp.never}
                button.btn.btn-primary(type="button", data-dismiss="modal") #{temp.close}
