extends global

block meta
    title #{meta.title}

block content
    div#index-intro-outer: div.container: div.row
        div.col-sm-12#index-intro
            h1 #{index.intro.big}
            p.
                #{index.intro.sub[0]}<br>
                #{index.intro.sub[1]}
            
            a(href=contact.googlestore, target="_blank")
                img(src="#{i}app_02.png", width="214", height="64")
            a(href=contact.applestore, target="_blank")
                img(src="#{i}app_01.png", width="214", height="64")
            
            a.visible-xs-inline-block(href=contact.facebook, target="_blank")
                img(src="#{i}sns_b_01.png", width="40", height="46")
            a.visible-xs-inline-block(href=contact.twitter, target="_blank")
                img(src="#{i}sns_b_02.png", width="40", height="46")
            a.visible-xs-inline-block(href=contact.blog, target="_blank")
                img(src="#{i}sns_b_03.png", width="40", height="46")
    
    div.container-gray#index-video-outer: div.container: div.row
        div.col-sm-12#index-video: div.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/9bZkp7q19f0", allowfullscreen)
    
    div.container: div.row
    
    div.container: div.row
    
    div#index-outro-outer: div.container: div.row
        div.col-sm-12#index-outro
            h2 #{index.outro.big}
            p: each line in index.outro.sub
                | #{line}
                br