extends global

block meta
    title #{footer.privacy} | #{meta.title}

block content
    div.gradient-1#other-intro: section.container-fluid
        div.blip.hidden-xs
        h1.make-font-1 #{footer.privacy}
        img.hidden-xs(src="#{i}ic-arrow.png", width="48", height="25")
    
    section.container-fluid#other-text !{privacy}