extends global

block meta
    - navPage = "support"
    
    title #{header.support} | #{meta.title}

block content
    div#support-outer: div.container-fluid#support-inner
        h1 #{support.intro.big}
        p.break-maybe: +break(support.intro.sub)
        
        input.form-control#support-search(type="search", placeholder=support.search, autofocus)
        
        div.clearfix#support-buttons
            each cat, key in support.faqs
                div.col-xs-4.col-sm-2: a(href="#q-#{key}")
                    div: img(src="#{i}support/ic-#{key}.png", width="61", height="61")
                    | #{cat.name}
        
        div#support-faqs: each cat, key in support.faqs
            each question, idx in cat.list
                a(data-toggle="collapse", data-target="#q-#{key}-#{idx}") #{question.q}
                
                div.bg-gray.collapse(id="q-#{key}-#{idx}")
                    p.break-force: +break(question.a)
        
        div.bg-gray#support-contact
            p.break-small: +break(support.contact.sub, " ")
            a.btn.btn-black(href="mailto:#{contact.email}", target="_blank") #{support.contact.btn}